<div class="container mt-5 text-center">
  <h2 class="mb-4">LISTA DE EMPLEADOS</h2>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.name }}</td>
      <td>{{ empleado.lastName }}</td>
      <td>{{ empleado.email }}</td>
      <td>
        <button (click)="actualizarEmpleados(empleado.id)" class="btn btn-info">Actualizar</button>
        <button (click)="liminarEmpleado(empleado.id)" class="btn btn-danger ml-2">Eliminar</button>
        <button (click)="verDetallesDelEmpleado(empleado.id)" class="btn btn-primary ml-2">Detalles</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
