/* General styles for the entire application */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8faf8;
  margin: 0;
  padding: 0;

}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.nav-link.active {
  font-weight: bold;
  color: #0defce !important;
}

.navbar-nav {
  margin-left: auto;
}

h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #343a40;
}

.container {
  padding-top: 2rem;
}


@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    padding: 0.5rem 0;
  }

  .container {
    padding-top: 1rem;
  }
}
